<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/img_iconependu"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/img_iconependu"
        android:supportsRtl="true"
        android:theme="@style/Theme.Projet_Final_Pendu"
        tools:targetApi="31">
        <activity
            android:name=".EnregistrerUtilisateurAdminActivity"
            android:exported="false" />
        <activity
            android:name=".SupprimerUtilisateurActivity"
            android:exported="false" />
        <activity
            android:name=".ConsulterUtilisateurActivity"
            android:exported="false" />
        <activity
            android:name=".SupprimerActivity"
            android:exported="false" />
        <activity
            android:name=".ModifierActivity"
            android:exported="false" />
        <activity
            android:name=".ConsulterActivity"
            android:exported="false" />
        <activity
            android:name=".AjouterActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ResultatActivity"
            android:exported="false" />
        <activity
            android:name=".PanneauJeuActivity"
            android:exported="false" />
        <activity
            android:name=".EnregistrerUtilisateurActivity"
            android:exported="false" />
        <activity
            android:name=".JeuActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".AdminActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>